@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

html {
      background-color: #1b1b1b;
      align-items: center;
      color: #eadbb2;
      display: flex;
      font-family: 'Ubuntu Mono', monospace;
      font-size: 25px;
      justify-content: center;
      margin: 0;
    }

body {
  background:url(../hintergrund.jpg) center center no-repeat fixed;
  margin:0;
  display: flex;
  margin: 1em;
  padding: 1em;
  align-items: center;
}

.main{
  background-color: #222222;
  width: max(30em, 600px);
  padding: 3.5em;
}

h1 {
  font-size: 2em;
  grid-column: 1 / -1;
  margin: 0;
  color: #EADBB2;
}
.blinking {
  animation: opacity 1s ease-in-out infinite;
  opacity: 1;
}

p {
  text-align: justify;
  font-size: max(2.7vh, 16px);
}
.folders{
  color: #ffd9c2;
}
.folders:focus,
.folders:hover {
  color: #E8A68E;
}

h3 {
  font-size: 1.5em;
  grid-column: 1 / -1;
  margin: 5;
  text-align: center;
  color: #dcd5c1;
}

a {
  color: #88B393;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #426c4d;
}

nav {
  display: grid;

  margin: 0 1em;
  min-width: 17em;
  padding: 1em 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

li:first-child {
  font-weight: bold;
  line-height: 2em;
  color: #668f8b;
}

img {
  border: 3px solid #EADBB2;
  height: auto;
  object-fit: cover;
  object-position: 50% 100%;
  width: max(10em, 300px);
}
table{
  width: 100%;
  background-color: #2d2929;
  padding: 0.7em;
}

th {
  color: #ffffff;
}
td {
  color: #ffd9c2;
}
b {
  color: #ffffff;
}
.blink {
  animation:fade 1000ms infinite;
  -webkit-animation:fade 1000ms infinite;
}
@keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.0; }
  to { opacity: 1.0; }
}                                                                                                                                                                                                                                  

@-webkit-keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.0; }
  to { opacity: 1.0; }
}
    

input {
  background-color: unset;
  font: 16px 'Ubuntu Mono', monospace;
  color: #EADBB2;
  height: 100%;
  width: 90%;
  border-top-style: hidden;
  border-bottom-style: soild;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-color: #868F8B;
  text-align: left;
  margin-top: 50px;
  outline: 0;
  padding-bottom: 0.5em;
}
