@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

* {
	margin: 0;
	padding: 0;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

html {
	height: 100%;
}

body { 
  background: #399949;
  background: linear-gradient(120deg, rgba(57, 153, 73, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(235, 16, 35, 1) 100%);

font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  height: 100%;
}

.full{
  background-image: url(fondo_pantalla.png);
}

select {
	margin: 10px;
  padding: 3px 10px 10px 3px; 
  border-radius: 7px;
  border-width: 0px;
	color: white;
  width: 250px;
	height: 50px;
  padding-left: 10px;
  padding-top: 0px;
	cursor: pointer;
  font-size: 35px;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-style: normal;
  color: rgb(255, 255, 255);
	background: transparent;
}

select:hover {
	background-color: black;
	color: white;
	padding-left: 20px;
  text-shadow: rgb(255, 255, 255) 1px 0 10px;   
}

select option {
	background-color: black;
	color: white;
	width: 310px;
	padding: 10px 15px;
	height: 20px;
	cursor: pointer;
}

select option:hover {
	padding-left: 25px;
	width: 270px;
	color: white;
}

p{
  font-size: 25px;
}

.analizar{
  background-color: transparent;
  border-width: 3px;
  border-radius: 7px;
  border-style: none;
  border-color: #5f0303;
  color: #fff;
  cursor: pointer;
  margin-top: 40px; 
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-style: normal;
  color: rgb(255, 255, 255);
}

.analizar:hover {
	background-color: black;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-shadow: rgb(255, 255, 255) 1px 0 10px;   
}

.analizar:active{
  opacity: 0.3;
}

.flechas{
  color: transparent;  
}

.flechas.analizar:hover{
  color:white;
}

.vs:hover{
  animation: tilt-shaking 0.15s infinite;
}
@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
